HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Gradle ###
gradle

### VS Code ###
.vscode/

### macOS ###

.DS_Store

### Credential ###

certs
.env*
!.env.example

### MyBatis Generator ###

/src/main/java/com/example/glitter/generated/*
!/src/main/java/com/example/glitter/generated/README.md

### MyBatis Migration ###

migrations/drivers/*
migrations/environments/*
!migrations/environments/development.sample.properties

### Image ###
/src/main/resources/static/images
